$rounded-1: 4px;
$rounded-2: 6px;
$rounded-3: 8px;
$rounded-4: 10px;
$rounded-5: 12px;
$rounded-6: 14px;
$rounded-7: 16px;
$rounded-8: 18px;
$rounded-9: 20px;
$rounded-full: 100%;

@mixin generate-border-utilities() {
  @each $name, $value in (
    1: $rounded-1,
    2: $rounded-2,
    3: $rounded-3,
    4: $rounded-4,
    5: $rounded-5,
    6: $rounded-6,
    7: $rounded-7,
    8: $rounded-8,
    9: $rounded-9,
    'full': $rounded-full
  ) {
    .rounded-#{$name} { border-radius: $value; }
  }
}

@include generate-border-utilities();