// _flex.scss
.flex {
    display: flex;
}

.block {
    display: block;
}
// Flex Direction
.flex-row {
    flex-direction: row;
  }
  
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-col-reverse {
    flex-direction: column-reverse;
  }
  
  // Flex Wrap
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  
  .flex-nowrap {
    flex-wrap: nowrap;
  }
  
  // Justify Content
  .justify-start {
    justify-content: flex-start;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .justify-evenly {
    justify-content: space-evenly;
  }
  
  // Align Items
  .items-start {
    align-items: flex-start;
  }
  
  .items-end {
    align-items: flex-end;
  }
  
  .items-center {
    align-items: center;
  }
  
  .items-baseline {
    align-items: baseline;
  }
  
  .items-stretch {
    align-items: stretch;
  }
  
  // Align Content
  .content-start {
    align-content: flex-start;
  }
  
  .content-end {
    align-content: flex-end;
  }
  
  .content-center {
    align-content: center;
  }
  
  .content-between {
    align-content: space-between;
  }
  
  .content-around {
    align-content: space-around;
  }
  
  .content-evenly {
    align-content: space-evenly;
  }
  
  // Align Self
  .self-auto {
    align-self: auto;
  }
  
  .self-start {
    align-self: flex-start;
  }
  
  .self-end {
    align-self: flex-end;
  }
  
  .self-center {
    align-self: center;
  }
  
  .self-stretch {
    align-self: stretch;
  }
  

$gap-1: 1px;
$gap-2: 2px;
$gap-3: 3px;
$gap-4: 4px;
$gap-5: 5px;
$gap-6: 6px;
$gap-8: 8px;
$gap-10: 10px;
$gap-12: 12px;
$gap-14: 14px;
$gap-16: 16px;
$gap-18: 18px;
$gap-20: 20px;

@mixin generate-gap-utilities() {
  @each $name, $value in (
    1: $gap-1,
    2: $gap-2,
    3: $gap-3,
    4: $gap-4,
    5: $gap-5,
    6: $gap-6,
    8: $gap-8,
    10: $gap-10,
    12: $gap-12,
    14: $gap-14,
    16: $gap-16,
    18: $gap-18,
    20: $gap-20,
  ) {
    .gap-y-#{$name} { row-gap: $value; }
    .gap-x-#{$name} { column-gap: $value; }
    .gap-#{$name} { gap: $value; }
  }
}

@include generate-gap-utilities();