/* ----- Contacts Table ----- */
.left-aligned-column {
    text-align: left;
  }

.center-aligned-column {
    text-align: center;
}

.contacts-table div[data-pc-name="pcpaginator"] {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.contacts-expanded-row {
    background-color: #F3EDF7;
    padding: 10px;
    border-top: .5px solid #DED8E1;
    border-bottom: 1px solid #e0e0e0;
}