$purple: #653494;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;


@use "bulma/sass" with (
 // $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: #653494,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none,

  $button-border-style: "dotted",
  $button-border-color: "#ffffff",
  $button-border-width: 2px
);